{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DevSearch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'uikit/styles/uikit.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles/app.css' %}">
    </head>
    <body>
        {% include "navbar.html" %}

            {% comment %} {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %} {% endcomment %}

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert--{{message.tags}}">
                    <p class="alert__message">{{message}}</p>
                    <button class="alert__close">⨯</button>
                </div>
                {% endfor %}
            {% endif %} 

        {% block content %}

        {% endblock content %}
        <script src="https://kit.fontawesome.com/39eecf0a01.js" crossorigin="anonymous"></script>
        <script src="{% static 'uikit/app.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>